@{
    ViewData["Title"] = "Incidents Dashboard";
}

<div>
    <div class="card-body">
        <br>
        <br>
        <div id="contentDiv"></div>
    </div>

    @* <a asp-controller="User" asp-action="Index">Users</a> *@

</div>
