@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card-body">
        <a onclick="goToUserIndex()" class="btn btn-primary float-start" tabindex="-1" role="button" aria-disabled="true">View All Users</a>
        <br>
        <br>
        <div id="contentDiv"></div>
    </div>
    @* <a asp-controller="User" asp-action="Index">Users</a> *@

</div>
